<div class="wrapper">
    <div class="container mv-image">
        <div class="mv-imag-transparent">
            <div class="top-container">
               <div class="col-box-1">
                    <h2>ようこそMemoAppへ!</h2>
                </div>
                <div class="col-box-1">
                    <p>MemoAppは、無料で利用できるメモアプリです。</p>
                    <br>
                    <p>いつでも、どこでも、思いついたらすぐに記録することができるシンプルな機能を提供しています。</p>
                    <br>
                    <p>ぜひ、ご活用ください。</p>
                </div>
                <div class="col-box-1">
                    <%= link_to "新規登録", new_users_path, method: :get, class: "btn-100 green-color" %>
                    <%= link_to "ログイン", new_sessions_path, method: :get, class: "btn-100 blue-color" %>
                </div>
            </div>
        </div>
    </div>
</div>